APP_VERSION=1.0
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=ai-webhook-dev
OPENAI_API_KEY=test_key
TELEGRAM_BOT_TOKEN=test_key
TELEGRAM_BOT_BASE_URL=https://api.telegram.org
TELEGRAM_BOT_API_KEY=test_key
TESSERACT_DATA_PATH=C:/Users/dsnp124/AppData/Local/Programs/Tesseract-OCR/tessdata