MONGODB_URI=mongodb://192.168.59.128:27017
MONGODB_DB=tel-webhook_dev
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_BASE_URL=https://api.telegram.org
TELEGRAM_BOT_API_KEY=